# Loads default set of integrations. Do not remove.
default_config:

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24
    - 172.19.1.0/24
    - 172.19.10.0/24

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
sensor: !include sensors.yaml
binary_sensor: !include binary_sensors.yaml
template: !include templates.yaml
rest_command: !include rest_commands.yaml
input_number: !include input_numbers.yaml
input_boolean: !include input_booleans.yaml
#switch: !include switches.yaml

mqtt:
  sensor:
    - name: HP Powersum Wattage
      state_topic: "083a8d016274/HP/STATUS/POWERSUM"
      device_class: power
      unit_of_measurement: "W"

# Expose sensor data as prometheus metrics
prometheus:

#frontend:
#  themes: !include hass-config/theme.yaml
  
#lovelace:
#  mode: yaml
#  dashboards:
#    home-dashboard:
#      mode: yaml
#      title: Home
#      icon: mdi:home
#      show_in_sidebar: true
#      filename: hass-config/dashboard.yaml
#  resources:
#    - url: /hacsfiles/button-card/button-card.js
#      type: module
#    - url: /hacsfiles/lovelace-layout-card/layout-card.js
#      type: module
#    - url: /hacsfiles/swipe-card/swipe-card.js
#      type: module
#    - url: /hacsfiles/lovelace-card-mod/card-mod.js
#      type: module
#    - url: /hacsfiles/lovelace-more-info-card/more-info-card.js
#      type: module
#    - url: /hacsfiles/lovelace-mushroom/mushroom.js
#      type: module
#    - url: /hacsfiles/Bubble-Card/bubble-card.js
#      type: module
#    - url: /hacsfiles/apexcharts-card/apexcharts-card.js
#      type: module
#    - url: /hacsfiles/config-template-card/config-template-card.js
#      type: module
